---
http_interactions:
- request:
    method: get
    uri: https://api.mymemory.translated.net/get?langpair=en%7Cfr&q=hello
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Content-Length:
      - '10'
      X-Embedded-Status:
      - '200'
    body:
      encoding: UTF-8
      string: '{"responseData":{"translatedText":"bonjour","match":1},"quotaFinished":false,"mtLangSupported":null,"responseDetails":"","responseStatus":200,"responderId":null,"exception_code":null,"matches":[{"id":"803894684940690803","segment":"hello","translation":"bonjour","source":"en-GB","target":"fr-FR","quality":"74","reference":null,"usage-count":5,"subject":"All","created-by":"MateCat","last-updated-by":"MateCat","create-date":"2024-12-07
        15:03:47","last-update-date":"2024-12-07 15:03:47","match":1,"penalty":0},{"id":"803894684981585467","segment":"Hello","translation":"Bonjour","source":"en-GB","target":"fr-FR","quality":74,"reference":null,"usage-count":3,"subject":"","created-by":"MateCat","last-updated-by":"MateCat","create-date":"2025-06-14
        17:49:21","last-update-date":"2025-06-14 17:49:21","match":0.98,"penalty":0}]}'
  recorded_at: Tue, 01 Jul 2025 06:36:38 GMT
recorded_with: VCR 6.3.1
